/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    margin-top: 100px;
    background: #b3b6b4;
    font-family: 'Arial', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
ul li{
    border: 1px solid gray;
    list-style: none;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #130505;
    font-size: 18px;

}
ul{
    padding: 0px;
    margin: 0px;
    
}
h1{
    text-align: center;
    font-weight: 100;
    color: #141111;
    font-size: 80px;
}
input{
    border: none;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    outline: none;
}
i{
    cursor: pointer;

}

.task-counter{
    padding: 10px;
    font-size: 14px;
    color: gray;
    text-align: left;
}